# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# ---- Virtual environment ----
.venv/

# ---- OS / IDE junk ----
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---- Data ----
data/raw/*
!data/raw/.gitkeep   # keep folder structure but ignore files

# ---- dbt ----
dbt_project/eu_energy/target/
dbt_project/eu_energy/dbt_modules/
logs/

# ---- Env ----
.env
